# dependencies
client/node_modules
server/node_modules

# testing
client/coverage

# production
client/build

# misc
.DS_Store

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
